/*@import url("fira_sans_regular.css");*/
body {
 margin: auto;
 padding:0;
 background:#ffffff;
 font-size:14px;
 color:#343237;
 font-family: Fira Sans, sans-serif;
 line-height: 1.5;
}


.list {
position:relative;
margin: auto;
width:90%;
max-width: 1200px;
}
img { border:0; }

.img_s {
  display: block;    /*убираем нижний отступ под картинкой*/
  width: 100%;       /*растягиваем изображение на всю ширину блока-контейнера*/
}

p { margin-top:0; }

h1 {
 font-family: Fira Sans;
 font-size:26px;
 font-weight:normal;
 color:#353338;
 margin:0 0 20px 0;
}
h2 {font-size:22px;
 font-weight:normal;
}
h3 {font-size:18px;
 font-weight:normal;
}
a {
 color:#343237;
 text-decoration:underline;
}
a:hover {
 text-decoration:none;
}

form {
 margin:0;
 padding:0;
}


td.c_head_s {
 height:100px;
}
td.c_head {
 width:1280px;
 height:100px;
 text-align:right;
 vertical-align:top;
}

td.c_head td.c_logo {
 vertical-align:middle;
 width:310px;
 height:100px;
}
td.c_head td.c_dev {
 text-align:right;
 vertical-align:middle;
 height:100px;
 font-family: Fira Sans;
 font-size:14px;
 color:#7f7f7f;
}
td.c_head td.c_seo {
 vertical-align:middle;
 width:217px;
 height:100px;
}
td.c_head td.c_seo div.b_seo {
 position:relative;
 width:217px;
 height:32px;
 background:url(images/search.png) left top no-repeat;
}
td.c_head td.c_seo div.b_seo input.seo_text {
 color:#7F7F7F;
 padding:0;
 margin:0 0 0 28px;
 background:transparent;
 border:0;
 width:133px;
 height:32px;
}
td.c_head td.c_seo div.b_seo input.seo_subm {
 padding:0;
 margin:0;
 cursor:pointer;
 background:transparent;
 border:0;
 width:56px;
 height:32px;
}

td.c_head td.c_seo div.b_lang {
 position:absolute;
 right:0;
 top:-36px;
 font-family: Fira Sans;
 font-size:11px;
 color:#c4c4c4;
}
td.c_head td.c_seo div.b_lang a {
 color:#c4c4c4;
 text-decoration:none;
 margin-left:6px;
}
td.c_head td.c_seo div.b_lang span {
 color:#7fbb41;
}
td.c_head td.c_seo div.b_lang img {
 margin-bottom:-3px;
 margin-left:7px;
 vertical-align:bottom;
 /*width: 20px;
 box-sizing: border-box;*/
}

td.c_menu_s {
 position:relative;
 height:75px;
}
td.c_menu {
 background:#fff;
 width:100%;
 height:75px;
 text-align:center;
 vertical-align:top;
}
.c_slider_s {
 position:relative;
 }
.c_slider{
position:relative;
margin: auto;
width:100%;
height:100%;
/*min-height:302px;*/
}
.news_1{
position:relative;
margin: auto;
width:90%;
}
td.c_content_s {
}
td.c_content {
 width:100%;
 text-align:left;
 vertical-align:top;
}
td.c_content td.c_cnt_left {
 width:290px;
 text-align:left;
 vertical-align:top;
}
td.c_content td.c_cnt_right {
 width:100%;
 margin: auto;
 text-align:left;
 vertical-align:top;
}


td.c_foot_s {
 height:20px;
}
td.c_foot {
 background:url(images/footer.png) left top no-repeat;
 width:100%;
 height:20px;
 text-align:left;
 vertical-align:top;
}

td.c_foot td.c_logo {
 width:140px;
 height:62px;
 vertical-align:middle;
}
td.c_foot td.c_cont {
 width:250px;
 height:62px;
 /*font-family:Arial;*/
 font-size:11px;
 color:#999999;
 vertical-align:middle;
}

td.c_foot td.c_logo2 {
 width:80px;
 height:62px;
 vertical-align:middle;
}
td.c_foot td.c_cont2 {
 width:155px;
 height:62px;
 /*font-family:Arial;*/
 font-size:11px;
 color:#999999;
 vertical-align:middle;
}



td.c_foot td.c_mn {
 height:62px;
 vertical-align:middle;
}
td.c_foot td.c_mn td {
 text-align:center;
 vertical-align:middle;
}
td.c_foot td.c_mn td a {
 /*font-family:Arial;*/
 font-size:11px;
 color:#6a696c;
 text-decoration:none;
}
td.c_foot td.c_mn td a:hover {
 text-decoration:underline;
}


div.left_title {
 padding:10px;
 background:#1a1a1a;
 color:#ffffff;
 /*font-size:14px;*/
 font-family:Arial;
 text-transform:uppercase;
 margin-bottom:5px;
}
/* ---------------------------------------------------------------------------------------------------- */
/* Columns */

.columns { margin:1.5em -1.5em; }


.column { padding:0 1.5em; margin:0.75em 0; float:left; }
.column_r { padding:0 1.5em; margin:0.75em 0; float:right; }

.column_right { float:right; }

.column_xlarge  { width:100%; }
.column_large   { width:61.8034%; }
.column_midle  { width:49.999% }
.column_medium  { width:38.1966%; }
.column_small   { width:23.6068%; }
.column_xsmall  { width:14.5898%; }
.column_xxsmall { width: 9.0170%; }
.column-count_2 { column-count:2 }
/* Collapsing columns */

@media screen and ( max-width:1600px )
{
	.columns_content > .column { width:100%; margin:1.5em 0; float:none; }
	
}

/* ---------------------------------------------------------------------------------------------------- */

/* Shine */
.hover_shine figure {
	position: relative;
}
.hover_shine figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover_shine figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/*-------------------------------------------*/

/* Effects */

.effects
{
	margin:-0.75em !important;
}

.effect
{
	width:50%;
	border:0.75em solid white;
	float:left;
	background:rgba(0,0,0,0.065);
}

.effect_box
{
	display:block;
	/*width:100%; height:auto;*/
	padding:0 0 100% 0;
}
.effect_box1 {display:block;}
.effect_box2 {display:block; width:90%; margin:auto;}
.effect_box3 {display:block; width:50%; margin:auto; padding:5px;}

/*.effect_box_opacity   { background:url(/upload/medialibrary/34b/34b246e42ec03e72dd3baf8f33daba2d.png) no-repeat; background-size: 100%;}
.effect_box_scale     { background:url(/upload/medialibrary/1d2/1d284ce6fba06d8564870bbfd6245bb6.png) no-repeat; background-size: 100%;}
.effect_box_rotate    { background:url(/upload/medialibrary/179/179536181f7a45b625cd461bfd0f67ae.png) no-repeat; background-size: 100%;}
.effect_box_translate { background:url(/upload/medialibrary/486/48673a2f79de2a3eaaaaf57d7e8ee28f.png) no-repeat; background-size: 100%;}
.effect_box_11        { background:url(/upload/medialibrary/17a/17af58d2f2a74050aba9d0068b97582e.png) no-repeat; background-size: 100%;}*/

@media screen and ( max-width:50em )
{
	.effect { width:25%; }
}

@media screen and ( max-width:30em )
{
	.effect { width:50%; }
/* ---------------------------------------------------------------------------------------------------- */
.wrapper
{
	max-width:90%;
	margin:0 auto;
}
/* ---------------------------------------------------------------------------------------------------- */
/* Sections */

.section
{
	padding:1em 0.5em;
	position:relative;
	overflow:hidden;
	/*background:white;*/
}

@media screen and ( max-width:50em ) { .section { padding:3.0em 1.5em; } }
@media screen and ( max-width:30em ) { .section { padding:1.5em 1.5em; } }

/* ---------------------------------------------------------------------------------------------------- */
/*hover выезд*/
  .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
 /*-----------------------------*/