/* jssor slider loading skin spin css */
    .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 2.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

    @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .jssorb052 .i {position:absolute;cursor:pointer;}
        .jssorb052 .i .b {fill:#000;fill-opacity:0.3;}
        .jssorb052 .i:hover .b {fill-opacity:.7;}
        .jssorb052 .iav .b {fill-opacity: 1;}
        .jssorb052 .i.idn {opacity:.3;}

        .jssora053 {display:block;position:absolute;cursor:pointer;}
        .jssora053 .a {fill:none;stroke:#5686cb;stroke-width:640;stroke-miterlimit:10;}
        .jssora053:hover {opacity:.8;}
        .jssora053.jssora053dn {opacity:.5;}
        .jssora053.jssora053ds {opacity:.3; pointer-events:none;}
        /*кнопка сервис*/
  a.button1 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #5686cb;
  box-shadow: 0 -3px #abcced inset;
  transition: 0.2s;
  float: right;
   } 
a.button1:hover { background: #bf3f16; }
a.button1:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.rightpic {
    float: right; /* Выравнивание по правому краю */
}
/*-------------------------------*/
